.search__input {
    all: unset;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    padding-left: 22px;
    color: #000000;
    margin: 0;
    padding-top: 0;
    min-width: 76px;
    min-height: 48px;
    max-height: 48px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 4px;
    background: #2F2F2F;
    width: 100%;
    margin-right: 10px;
    cursor: pointer;
    }

    .search__input:hover {
        opacity: 0.6;
          }

    .search__input:invalid {
        color: #EE3465;
          }
  
    @media screen and (max-width: 590px) {
        .search__input {
            min-height: 44px;
            max-height: 44px;
            padding-left: 15.9px;
            font-size: 12px;
            line-height: 18px;
        }
      }