.register__register {
    min-width: 396px;
    min-height: 45px;
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: rgb(255, 255, 255);
    background-color: #4285F4;
    margin: 0;
    padding: 0;
    margin-top: 152px;
    margin-bottom: 0px;
    border: none;
    outline: none;
    border-radius: 2px;
  }

  .register__register:hover {
    opacity: 0.8;
    cursor: pointer;
  }