.under_black{
    border-bottom: 1px solid #000000;
    min-width: 150px;
    margin-top: 23px;

    /* border: 2px rgb(14, 235, 206) solid; */
    }

@media screen and (max-width: 320px) {
        .under_black {
            border-bottom: 1px solid #000000;
        }
      }

