.notfound__404 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 140px;
    line-height: 169px;
    color: #ffffff;
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
    text-align: center;

      /* border: 1px rgb(235, 14, 14) solid; */
  }
  

  @media screen and (max-width: 590px) {
    .notfound__404 {
      font-size: 80px;
      line-height: 97px;
      }
    }