.portfolio__under{
    border-bottom: 1px solid #424242;
    min-width: 150px;
    margin-top: 19px;
    margin-bottom: 20px;

    /* border: 2px rgb(14, 235, 206) solid; */
    }

@media screen and (max-width: 320px) {
        .portfolio__under {
            border-bottom: 1px solid #424242;
        }
      }

