.portfolio__pic{
    min-height: 327px;
    min-width: 270px;
    background-image: url("../../../images/photo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;

    /* border: 2px rgb(235, 55, 14) solid; */
    }

    @media screen and (max-width: 768px) {
        .portfolio__pic {
            min-height: 307px;
            min-width: 255px;
        }
      }

    @media screen and (max-width: 360px) {
        .portfolio__pic {
            min-height: 352px;
            min-width: 292px;
            justify-self: center;
            margin-left: auto;
            margin-right: auto;
            background-size: cover;
        }
      }     