.portfolio__speciality{
    margin: 0;
    padding: 0;
    max-width: 600px;
    min-height: 20px;
    font-size: 18px;
    line-height: 20px;
    white-space: pre-wrap;
    padding-bottom: 26px;

    /* border: 1px rgb(80, 235, 14) solid; */
    }

    @media screen and (max-width: 768px) {
        .portfolio__speciality {
            font-size: 12px;
            line-height: 18px;
            padding-bottom: 20px;
        }
      }

    @media screen and (max-width: 590px) {
        .portfolio__speciality {
            font-size: 11px;
            line-height: 16px;
        }
      }
