.profile__redirect{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #ffffff;
    margin: 0;
    padding: 0;
    text-decoration: none;
    margin-top: 205px;
    align-items: center;
  }

  .profile__redirect:hover {
    opacity: 0.8;
    cursor: pointer;
  }

  @media screen and (max-width: 768px) {
    .profile__redirect {
      margin-top: 194px;
      }
    }
  
  @media screen and (max-width: 590px) {
    .profile__redirect {
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      }
    }