.burger__account {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    max-width: 60%;
    justify-content: center;
    justify-items: center;
    text-align: center;
    justify-self: center;
    margin-left: 59px;
    padding-top: 0;
    height: 30px;
    /* border: 1px rgb(235, 14, 184) solid; */
    }
  
.burger__account_active {
        border-bottom: #ffffff 1px solid;
      }

    @media screen and (max-width: 768px) {
        .burger__account {
          margin-right: 0px;
          margin-left: 80px;
          margin-bottom: 187px;
        }
      }

    @media screen and (max-width: 590px) {
        .burger__account {
          margin-right: 0px;
          margin-left: 42px;
          margin-bottom: 125px;
        }
      }