.element__remove {
  margin: 0;
  padding: 0;
  min-width: 6.84px;
  min-height: 6.72px;
  background-image: url("../../../images/remove.svg");
  background-color: #222222;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  outline: none;
  top: 50%;
  left: 50%;
  cursor: pointer;
  margin-bottom: 3px;
  margin-top: 5px;
  margin-right: 28px;
  display: none;

}



@media screen and (max-width: 590px) {
  .element__remove {
    margin-right: 15px;
    display: block;

    /* border: 1px rgb(235, 14, 14) solid; */
  }
}