.element__wrapper {
        margin: 0;
        padding: 0;
        padding-left: 70px;
        padding-right: 70px;
        padding-bottom: 20px;
        background-color: #202020;
        max-width: 1280px;
           
        /* border: 1px rgb(235, 14, 14) solid; */
      }
    
    
    @media screen and (max-width: 768px) {
      .element__wrapper {
        max-width: 768px;
        min-width: 74px;
        padding-left: 30px;
        padding-right: 30px;
      }
    }

    @media screen and (max-width: 590px) {
      .element__wrapper {
        max-width: 320px;
        min-width: 74px;
        min-height: 74px;
        padding-left: 10px;
        padding-right: 10px;
      }
    }