.under_grey{
    border-bottom: 1px solid #424242;
    min-width: 150px;
    margin: 0;
    margin-bottom: 1px;

    /* border: 2px rgb(14, 235, 206) solid; */
    }

    @media screen and (max-width: 768px) {
        .under_grey {
            margin-left: 30px;
            margin-right: 30px;
        }
      }

    @media screen and (max-width: 590px) {
        .under_grey {
            margin-top: 4px;
            margin-left: 0;
            margin-right: 0;
        }
      }

