.header__films_saved {
    all: unset;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    text-align: right;
    color: #ffffff;
    margin: 0;
    padding-top: 2px;
    min-width: 54px;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 2px;
    margin-top: 20px;
    margin-bottom: 29px;
    justify-self: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-self: center;
    justify-content: space-between;
    min-height: 30px;
    max-height: 30px;
    margin-left: 16px;

    /* border: 1px rgb(14, 235, 51) solid; */
    }

.header__films_saved:hover {
    opacity: 0.6;
      }

      @media screen and (max-width: 320px) {
        .header__films_saved {
            font-size: 10px;
            margin-right: 14px;
        }
      }