.tech {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    background: #272727;
  
    /* border: 1px rgb(14, 235, 224) solid; */
    }
  
  
  