.element__picture {
  margin: 0;
  padding: 0;
  max-width: 364px;
  min-width: 364px;
  max-height: 203px;
  min-height: 203px;
  box-sizing: border-box;
  object-fit: cover;
  cursor: pointer;
}

.element__picture:hover {
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .element__picture {
    max-width: 339px;
    min-width: 339px;
    max-height: 190px;
    min-height: 190px;
  }
}

@media screen and (max-width: 590px) {
  .element__picture {
    max-width: 300px;
    min-width: 300px;
    max-height: 168px;
    min-height: 168px;
  }
}