.proj__ribbon {
        margin: 0;
        padding: 0;
        margin-top: 110px; 
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-auto-rows: 36px;
        grid-gap: 0px;

        /* border: 2px rgb(14, 80, 235) solid; */
    }

    @media screen and (max-width: 768px) {
        .proj__ribbon {
            margin-top: 93px; 
            grid-template-columns: 1.05fr 4fr;
        }
      }

    @media screen and (max-width: 590px) {
        .proj__ribbon {
            margin-top: 60px; 
            grid-template-columns: 1.087fr 2fr;
            grid-template-rows: 35px 30px;

            /* border: 2px rgb(14, 80, 235) solid; */
        }
      }
