.login__register {
    min-width: 396px;
    min-height: 45px;
    margin: 0;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: rgb(255, 255, 255);
    background-color: #4285F4;
    margin: 0;
    padding: 0;
    margin-top: 220px;
    margin-bottom: 0px;
    border: none;
    outline: none;
    border-radius: 2px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    /* text-align: center; */
  }

  .login__register:hover {
    opacity: 0.8;
    cursor: pointer;
  }

  .login__register:disabled,
  .login__register[disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

  @media screen and (max-width: 768px) {
    .login__register {
        margin-left: auto;
        margin-right: auto;
        min-width: 100%;
        justify-content: center;

          /* border: 1px rgb(235, 14, 14) solid; */
      }
    }

  @media screen and (max-width: 590px) {
    .login__register {
        margin-top: 310px;

          /* border: 1px rgb(235, 14, 14) solid; */
      }
    }